<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!--  ContextLoaderListener-->
	<!--   <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>    -->
  
	<!-- log4j日志配置 -->
	<!-- 路径变量值 -->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>springLog.root</param-value>
	</context-param>
	<!-- log4j配置文件 -->
	 <context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param> 
   
 	 <context-param>
	<!-- 	日志页面的刷新间隔 -->
		<param-name>log4jRefreshInterval</param-name>
		<param-value>6000</param-value>
	</context-param>
	<!-- 设置日志监听 -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	
	
  
   <!-- springMVC配置 -->
  <servlet>
  	<servlet-name>springmvc</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	
  	<!-- springmvc的配置文件 -->
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath*:springmvc-servlet.xml</param-value>
  	</init-param>
  	
  	<!--
  	 1)load-on-startup元素标记容器是否在启动的时候就加载这个servlet(实例化并调用其init()方法)。
	 2)它的值必须是一个整数，表示servlet应该被载入的顺序
	 3)当值为0或者大于0时，表示容器在应用启动时就加载并初始化这个servlet；
	 4)当值小于0或者没有指定时，则表示容器在该servlet被选择时才会去加载。
	 5)正数的值越小，该servlet的优先级越高，应用启动时就越先加载。
	 6)当值相同时，容器就会自己选择顺序来加载。
	 -->
  	<load-on-startup>1</load-on-startup>
  </servlet>
 
  <servlet-mapping>
  	<servlet-name>springmvc</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>

  
 
  
  
</web-app>
